#https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
-f https://download.pytorch.org/whl/torch_stable.html
torch== 1.8.1+cpu
Flask==1.1.4
itsdangerous==1.1.0
deep-translator==1.5.0
nltk==3.5
newspaper3k==0.2.8
transformers==4.17.0
pandas==1.2.1
swifter==1.0.9
gnews==0.2.7
gunicorn==20.0.4
markupsafe==1.1.1
rq==1.10.1
redis==3.5.3